@import url(grid.css);@import url(input.css);@import url(pop.css);

.bg{background:#f0f0f0}
.logobod img{ border:#999 1px solid}
.icon{width:51px; height:30px; background:url(../../../img/outlet_manager/align_l_icon.png) no-repeat}
.icon1{ background-position:0 -602px;}
.icon2{ background-position:0 -643px;}
.icon3{ background-position:0 -682px;}
.icon4{ background-position:0 -722px;}
.bod1{border:#e69898 1px solid; padding-bottom:16px}
.bod2{border:#e6d498 1px solid; padding-bottom:16px}
.bod3{border:#408f3e 1px solid; padding-bottom:16px}
.bod4{border:#e69898 1px solid; padding-bottom:16px}
.bod5{border:#aaaaaa 1px solid; padding-bottom:16px}
.inp_text{height:30px;}
#accordion, .logobod,.r_breadcrumb{padding: 5px;background: white;box-shadow: 0 1px 1px #ccc;margin: 10px;}
.logobod{width:730px;}
.logobod p{display:inline;}
.logobod a{float:right;margin-right:200px;}
.logobod input{vertical-align: middle;font-size:16px;}
.imgbox{border:1px solid black;height:150px;}
.input{line-height:30px;width:300px;font-size: 16px;}
.menu_list01 li{line-height:30px;}
.menu_list01 li a{padding-left:10px;display:block;color:rgb(77, 86, 95)}
.menu_list01 li a:hover{text-decoration:none;background: #e6e8ec;color:#369}
.menu_list01 li a em{background:url(../../../img/web/arrow.png) 0 -125px no-repeat;width:10px;height:12px;display:inline-block;float: right;margin-top:8px;margin-right:10px;}
.menu_list01 .home a{background:#66ccff;color:white;font-weight:bold;width:170px;height:30px;display:block;text-align:center;}
.menu_list01 .home a:hover{text-decoration:none;background: #66ccff;}
.menu_list01 .top {color:#66ccff;font-weight:bold;}
.menu_list01 .on{background: #e6e8ec;}
.imgbox{margin-top:10px;margin-left:10px;}
