@import url(../quote/grid.css);@import url(../quote/input.css);

/*调用图片*/
.a_s,.hez_dlh {background-image:url(../../img/web/index_metro.png); background-repeat:no-repeat;}
.win8-container-back01,.win8-container-mask01,.win8-container-back02,.win8-container-mask02,.win8-container-back-shopping-center01,.win8-container-mask-shopping-center01,.win8-container-back-shopping-center02,.win8-container-mask-shopping-center02,.win8-container-back-shopping-center03,.win8-container-mask-shopping-center03,.win8-container-back-shopping-center04,.win8-container-mask-shopping-center04{ background-image:url(../../img/plugin/hv_bg.jpg); background-repeat:no-repeat;}
.win8-label-mask-left,.win8-label-mask-left-shopping-center {background-image:url(../../img/web/bar12_n.png); background-repeat:no-repeat;width:110px; height:50px; float:right;}
.win8-label-back,.win8-label-back02,.win8-label-back-shopping-center01,.win8-label-back-shopping-center02,.win8-label-back-shopping-center03,.win8-label-back-shopping-center04,.win8-label-mask-left-img01,.win8-label-mask-left-img02,.win8-label-back-c01,.win8-label-back-c02,.win8-label-mask-left-img-shopping-center01,.win8-label-mask-left-img-shopping-center02,.win8-label-mask-left-img-shopping-center03,.win8-label-mask-left-img-shopping-center04,.sczf01,.sczf02,.sczf03,.sczf04 { background-image:url(../../img/plugin/yubi_text.png); background-repeat:no-repeat;}
.win8-label-mask-right,.win8-label-mask-right-shopping-center{background-image:url(../../img/web/bar12_repeat.png); background-repeat: repeat-x;}
.dfr_search .sub,.dfr_search .sub:hover { background-image:url(../../img/web/ader_btn.png); background-repeat:no-repeat;vertical-align: middle;}

.index_h,.index_b { width:100%;}
.index_h .ctw,.index_b .ctb { width:1000px; margin:0 auto;}
.index_h .ctw .logo_index { float:left; margin:50px 0 0 30px;}
.index_b .ctb .ctb_in { width:940px; position:relative; margin:18px 30px 0; min-height:519px;}
.square { position:absolute;}
.square div:hover { cursor:pointer;}
.type01, .type01 .a_s { width:281px; height:281px;}
.type02, .type02 .a_s { width:171px; height:87px;}
.type03, .type03 .a_s { width:232px; height:110px;}
.type04, .type04 .a_s { width:110px; height:110px;}
.type05 { width:354px; height:60px;}
.type06, .type06 .a_s { width:226px; height:226px;}
.dw01 { left:0; top:0;} .dw02 { left:293px; top:0;} .dw03 { left:586px; top:0;} .dw04 { left:769px; top:0;} .dw05 { left:586px; top:99px;} .dw06 { left:708px; top:99px;} .dw07 { left:830px; top:99px;} .dw08 { left:586px; top:221px; background:#FFF; overflow:hidden;} .dw09 { left:0; top:293px;} .dw10 { left:238px; top:293px;} .dw11 { left:476px; top:293px;} .dw12 { left:714px; top:293px;}
.a_s { display:block; text-indent:-9999em; overflow:hidden;}
.app_store { background-position:0 0;}.app_store:hover { background-position:-172px 0px;}
.android_market { background-position:0 -88px;}.android_market:hover { background-position:-172px -88px;}
.grdl { background-position:0 -287px;}.grdl:hover { background-position:-111px -287px;}
.shdl { background-position:0 -398px;}.shdl:hover { background-position:-111px -398px;}
.ztzc { background-position:0 -509px;}.ztzc:hover { background-position:-111px -509px;}
.hez_dlh { background-position:0 -176px; width:232px; height:110px; color:#FFF;}
.hez_dlh a { color:#FFF;}
.hez_dlh .member_info,.hez_dlh .member_img { float:left;}
.hez_dlh .member_img { margin:33px 0 0 18px;}
.hez_dlh .member_info{ margin:33px 0 0 6px;}
.hez_dlh .member_info .member_fav { background-position:0 -158px;}
.hez_dlh .member_info .member_coupon { background-position:0 -200px;}
/*自定样式*/
.dfr_search { height:56px; background:#eaeaea; width:254px; margin:2px 2px 0 0;}
.dfr_search .text { height:56px; line-height:56px; font-size:18px; font-family:"微软雅黑"; width:203px;}
.dfr_search .sub { width:41px; height:41px; background-position:0 -42px;}
.dfr_search .sub:hover { background-position:-42px -42px;}

/*大块通用样式*/
.win8-container{position: relative;	width:281px; height:281px; display:block;}
.win8-label{width: 272px; height:50px; position:absolute; right:0px; bottom:18px;}
.win8-label-mask{width:100%; height:100%; position:absolute; z-index:2;}
.win8-container-back01,.win8-container-back02{width:100%; height:100%;}
.win8-container-mask01,.win8-container-mask02{display:none;	width:100%;	height:100%;}
.win8-label-mask-right{	height:50px;	float:right; width:160px; display:none;}
.win8-label-mask-left-img01,.win8-label-mask-left-img02 { height:24px; margin-left:13px; margin-top:13px;}
.win8-label-back,.win8-label-back02{ width:100%; height:100%; display:none; position:absolute; z-index:1;}
.win8-label-back{ background-position:2px -390px;}
.win8-label-back02{ background-position:2px -749px; }
.win8-label-back-c01,.win8-label-back-c02 { width:272px; height:50px;}

/*优惠券*/
.win8-container-back01{ background-position:0 0;}
.win8-container-mask01{ background-position:-282px 0;}
.win8-label-mask-left-img01{ background-position:0 -12px; width:72px;}
.win8-label-back-c01 { background-position:-286px 0;}

/*商品中心*/
.win8-container-back02{ background-position:0 -282px;}
.win8-container-mask02{ background-position:-282px -282px;}
.win8-label-mask-left-img02{ background-position:0 -62px; width:54px;}
.win8-label-back-c02 { background-position:-286px -50px;}


/*小块通用样式*/
.win8-container-shopping-center{position:relative;width:100%;height:100%; display:block;}
.win8-label-shopping-center{width:220px;height:72px;position:absolute;right:0px;bottom:18px;}
.win8-label-mask-shopping-center{width:100%;height:50px;position:absolute;z-index:2;bottom:0px;}
.win8-container-back-shopping-center01,.win8-container-back-shopping-center02,.win8-container-back-shopping-center03,.win8-container-back-shopping-center04{ width:100%; height:100%;}
.win8-container-mask-shopping-center01,.win8-container-mask-shopping-center02,.win8-container-mask-shopping-center03,.win8-container-mask-shopping-center04{display:none;	width:100%;	height:100%;}
.win8-label-mask-right-shopping-center{	height:50px; float:right; width:110px; display:none;}
.win8-label-back-shopping-center01,.win8-label-back-shopping-center02,.win8-label-back-shopping-center03,.win8-label-back-shopping-center04{	width:100%;	height:100%; display: none; position:absolute; z-index:1;}
.win8-label-mask-left-img-shopping-center01,.win8-label-mask-left-img-shopping-center02,.win8-label-mask-left-img-shopping-center03,.win8-label-mask-left-img-shopping-center04 {	height:20px; margin-left:13px; margin-top:14px; width:80px;}
.sczf01,.sczf02,.sczf03,.sczf04 { width:220px; height:72px;}
 
/*购物中心*/
.win8-container-back-shopping-center01{ background-position:0 -564px;}
.win8-container-mask-shopping-center01{ background-position:-227px -564px;}
.win8-label-mask-left-img-shopping-center01{ background-position:0 -120px;}
.win8-label-back-shopping-center01{ background-position:0 -444px;}
.sczf01 { background-position:-282px -100px;}

/*商场超市*/
.win8-container-back-shopping-center02{ background-position:0 -791px;}
.win8-container-mask-shopping-center02{ background-position:-227px -791px;}
.win8-label-mask-left-img-shopping-center02{ background-position:0 -192px;}
.win8-label-back-shopping-center02{ background-position:0 -520px;}
.sczf02 { background-position:-282px -172px;}

/*品牌连锁*/
.win8-container-back-shopping-center03{ background-position:0 -1018px;}
.win8-container-mask-shopping-center03{ background-position:-227px -1018px;}
.win8-label-mask-left-img-shopping-center03{ background-position:0 -264px;}
.win8-label-back-shopping-center03{ background-position:0 -596px;}
.sczf03 { background-position:-282px -244px;}

/*店铺排行*/
.win8-container-back-shopping-center04{ background-position:0 -1245px;}
.win8-container-mask-shopping-center04{ background-position:-227px -1245px;}
.win8-label-mask-left-img-shopping-center04{ background-position:0 -336px;}
.win8-label-back-shopping-center04{ background-position:0 -672px;}
.sczf04 { background-position:-282px -316px;}

/*搜索框样式*/
.ui-default-select{
	width: 75px;
	height: 54px;
	margin: 2px;
	margin-right: 0px;
	background:none;
	background-color: #dcdcdc;
	float: left;
}
.ui-default-select .ui-default-select-text{
	height: 56px;
	line-height: 56px;
	font-size: 18px;
	vertical-align: middle;
	font-family:"微软雅黑";
}
.ui-default-select .ui-default-select-icon{
	margin-top: 26px;
}